* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    cursor: grab;
}

body {
    margin: 0;
    height: 100vh;
    background-color: #ffffc2;  
}

h1 {font-size: 3.5em;}

h2 {font-size: 2.7em;}

p {
    margin-top: 1px;
}

/* ID > CLASS > ELEMENT*/

#mainInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(0deg,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),
    url(/static/IMG/First_img.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}   

#mainInfo  .margin_full{
    color: #d1ffc2;
    width: 50%;
}

#aboutSection {
    background-color: #d1ffc2;
    text-align: center;
}

#aboutSection p {
    align-self: center;
    justify-self: center;
    color: black;
    padding-top: 10px;
}

#aboutSection img {
    width: 300px;
    height: auto;
    padding-top: 10px;
}

#contactSection div p {
    color: black;
}

@media (min-width:768px) {

    #mainInfo h1 {
        font-size: 5em;
    }

    section .container {
        display: grid;
        justify-content: center;
        background-color: #d1ffc2;
    }

    #aboutSection div {
        width: 50%;
        float: left;
    }

    #aboutSection #pad_down{
        padding-bottom: 160px;
    }

    footer .container {
        justify-content: flex-end;
    }
}

@media (max-width: 766px) {

    header .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #mainInfo {
        font-size: 0.8em;        
        padding-top: 6vh;
    }

    #mainInfo h1 {
        font-size: 2em;
    }

    #aboutSection div {
        font-size: 1em;
    }

    #aboutSection {
        align-items: center;
        justify-content: center center;
    }

}