/* Global Attributes */

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    cursor: grab;
}

body {
    margin: 0;
    height: 100vh;
    padding: 0;
}

footer p {
    margin: 0;
    padding: 2px;
    color: rgb(100, 100, 100);
}

p {
    margin-top: 1px;
}


/* ID > CLASS > ELEMENT*/


/* Main Section */

#mainInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url(../IMG/First_img.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


#mainInfo .margin_full {
    color: #d1ffc2;
    width: 50%;
}

#mainInfo>h1 {
    font-size: 1em;
}

/* Tours Section */

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.images {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.img {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.85);
    height: 480px;
    width: 640px;
    border-radius: 15px;
    margin: 5px;
    object-fit: cover;
    filter: saturate(175%);
}

.text {
    overflow: hidden;
    position: absolute;
    flex-direction: column;
    transform: translateY(0px);
    margin-bottom: 9px;
    backdrop-filter: blur(20px);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.text h3 {
    text-shadow: 0px 0px 15px black;
    padding-top: 40px;
    color: white;
    font-weight: 300;
    font-size: 27px;
}

.text p {
    align-items: center;
    padding: 20px;
    color: white;
    font-size: 0px;
    font-weight: 300;
}

.images .text {
    width: 600px;
    height: 100px;
    transition: 1s;
}

.images:hover .text {
    transition: heigth 1s, trasnform 1s background-color 1s;
    transform: translateY(-150px);
    height: 290px;
    background-color: rgba(63, 106, 138, 0.71);
}

.images:hover .text p {
    transition: font-size 0s -2s linear;
    font-size: 23px;
    font-weight: 300;
    text-shadow: 0px 0px 10px #000000;
}

.puntos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.puntos p {
    font-size: 100px;
    font-weight: 500;
    margin-top: -50px;
    color: black;
}

.puntos .bold {
    font-weight: 700;
    margin-left: 10px;
    margin-right: 10px;
    color: #5E17EB;
}


/* About Section */

#aboutSection {
    text-align: center;
}

#aboutSection>h1 {
    text-align: center;
}

#aboutSection p {
    display: flex;
    align-content: center;
    justify-content: center;
    color: black;
    padding-top: 10px;
}

#aboutSection>img {
    width: 300px;
    height: auto;
    padding-top: 10px;
}



/*   Contact Section   */


#contactSection div p {
    color: black;
}

/*  Forms Section */

#formSection {
    background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
}

#formSection .texted {
    text-align: center;
    font-size: 41px;
    font-weight: 600;
}

#formSection input {
    border: 1.5px solid #000;
    border-radius: 0.5rem;
    box-shadow: 2.5px 3px 0 #000;
    padding: 2px 12px;
}

#formSection input:focus {
    background-color: #e0ffc2;
    box-shadow: 5.5px 7px 0 black;
}

#formSection input[type=text] {
    padding: 2px 12px;
}

#formSection input[type=checkbox] {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    appearance: none;
    background-color: #bbb;
    transition: all .3s;
}

#formSection input[type=checkbox]::before {
    content: '';
    position: absolute;
    border: solid #fff;
    display: block;
    width: .3em;
    height: .6em;
    border-width: 0 .2em .2em 0;
    z-index: 1;
    opacity: 0;
    right: calc(50% - .3em);
    top: calc(50% - .6em);
    transform: rotate(0deg);
    transition: all .3s;
    transform-origin: center center;
}

#formSection input[type=checkbox]:checked {
    animation: a .3s ease-in forwards;
    background-color: rgb(120, 190, 120);
}

#formSection input[type=checkbox]:checked::before {
    opacity: 1;
    transform: rotate(405deg);
}

#formSection select {
    width: 100%;
    height: auto;
    padding: 2px 12px;
    font-size: 1rem;
    border: 1.5px solid #000;
    border-radius: 0.5rem;
    box-shadow: 2.5px 3px 0 #000;
    outline: none;
    transition: ease 0.25s;
}


/*#formSection button {
    background-color: aquamarine;
    border: none;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}*/

#formSection input[type=email] {
    font-size: 1rem;
    border: 1.5px solid #000;
    border-radius: 0.5rem;
    box-shadow: 2.5px 3px 0 #000;
    outline: none;
    transition: ease 0.25s;
}

#formSection input[type=email]:focus {
    box-shadow: 5.5px 7px 0 black;
}


/* Footer Section */

#footlog {
    display: flex;
    height: 9vh;
    width: 100%;
    background-color: #002a38;
    line-height: 1.3;
}

.linegrid {
    display: inline-grid;
    grid-auto-flow: row;
    grid-gap: 44px;
    justify-items: center;
    margin: auto;
}

.alinegrid {
    color: white;
    text-decoration: none;
    box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
}

.alinegrid:hover {
    box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4);
}

.lilinegrid:last-child {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.lilinegrid:hover~li p {
    animation: wave-animation 0.3s infinite;
}


/* Media Queries for each resolution */

@media (max-width: 766px) {

    #mainInfo {
        font-size: 0.8em;
        padding-top: 6vh;
    }

    #mainInfo h1 {
        font-size: 2em;
    }

    #aboutSection div {
        font-size: 1em;
    }

    #aboutSection {
        align-items: center;
        justify-content: center center;
    }

    #formSection button {
        width: 100%;
    }

    #footlog {
        height: 75vh;
    }

    .linegrid {
        grid-gap: 30px;
    }

}

@media (min-width:768px) and (max-width:991px) {

    #mainInfo h1 {
        font-size: 3em;
    }

    section .container {
        display: grid;
        justify-content: center;
        background-color: #d1ffc2;
    }

    #aboutSection div {
        width: 50%;
        float: left;
    }

    #aboutSection #pad_down {
        padding-bottom: 160px;
    }

    .linegrid {
        grid-auto-flow: column;
    }
}

@media (min-width:992px) {

    /*footer .container {
            justify-content: flex-end;
        }*/

    .linegrid {
        grid-auto-flow: column;
    }

}

@keyframes a {
    0% {
        opacity: 1;
        transform: scale(1) rotateY(0deg);
    }

    50% {
        opacity: 0;
        transform: scale(.8) rotateY(180deg);
    }

    100% {
        opacity: 1;
        transform: scale(1) rotateY(360deg);
    }
}

@keyframes wave-animation {

    0%,
    100% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(20deg);
    }

    75% {
        transform: rotate(-15deg);
    }
}