{% extends 'base.html' %}

{% block content %}

<section id="formSection" class="container">

    <form id="formContact" class="row g-3" method="post">

            <legend class="texted">Contact Us</legend>

            <div class="col-md-11">
                <label class="form-label" for="clientFirstName">
                    First Name:
                </label>
                <input class="form-control" type="text" name="clientName" id="clientName" placeholder="First Name"
                    required>

            </div>
            <div class="col-md-11">
                <label class="form-label" for="clientLastName">
                    Last Name:
                </label>
                <input class="form-control" type="text" name="clientLName" id="clientLName" placeholder="Last Name">
            </div>

            <div class="col-md-11">
                <label class="form-label" for="nacionality">
                    Nacionality:
                </label>
                <input class="form-control" type="text" name="clientNacionality" id="clientNacionality"
                    placeholder="Colombian">
            </div>

            <div class="col-md-11">
                <label class="form-label" for="clientEmail">
                    Email:
                </label>
                <input class="form-control" type="email" name="clientEmail" id="clientEmail"
                    placeholder="Admon@email.com">
            </div>

            <div class="col-md-5">
                <label class="form-label" for="clientNumber">
                    Tel:
                </label>
                <input class="form-control" type="tel" name="cleintTellNumber" id="clientTellNumber" required>
            </div>

            <div class="col-md-4    ">
                <label class="form-label" for="selectDays">
                    Date
                </label>
                <input class="form-control" type="date" name="date" id="date" required>
            </div>

            <div class="col-md-3">
                <label class="form-label" for="services">
                    Tour Service
                </label>
                <select class="form-select" id="selectTours" name="selectTours" required>
                    <option value="Aquiarium">Aquiarium</option>
                    <option value="Cothoon Cay">Cothoon Cay</option>
                    <option value="Snooror Cay">Snooror Cay</option>
                    <option value="Haynes Cay">Haynes Cay</option>
                    <option value="Johnny Cay" selected>Johnny Cay</option>
                    <option value="Rocky Cay">Rocky Cay</option>
                    <option value="Crab Cay">Crab Cay</option>
                </select>
            </div>

            <div class="col-md-1">
                <label class="form-label" for="peopleAmount">
                    Host Amount
                </label>
                <input class="form-control" type="number" name="selectAmount" id="selectAmount">
            </div>

            <div class="col-md-12">
                <div class="form-check">
                    <label class="form-check-label" for="selectUnderage">
                        Personal Treatment Autorization
                    </label>
                    <input class="form-check-input" type="checkbox" name="inputCheck" id="inputCheck">
                </div>
            </div>
            <input type="submit" class="btn btn-info">
    </form>

</section>

{% endblock %}