{% extends 'base.html' %}

{% block content %}


<section id="mainInfo" class="container">
    <main class="m-4" id="mainInformation">
        <h1 class="margin_full">Welcome to your Paradise</h1>
        <p class="margin_full">
            <strong>San Andres island</strong>, where you can enjoy different
            activities like snorklin, dive, land exploring between other. You had no time to lose, see the
            information below and have a magnificient vacations on this seven colors sea and his cays around.
        </p>
    </main>
</section>
<!--        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Pontoon
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body"></div>
                    <figure>
                        <img src="../static/IMG/pontoonRent.jpg" alt="Pontoon">
                        <figcaption>The Pontoon it's a maritime activity guided by a qualified person, this activity
                            normally had a minimum period of time of <time datetime="4H">4H</time> to <time
                                datetime="8H">8H</time></figcaption>
                    </figure>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        Jetski
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <figure>
                            <img src="../static/IMG/jetsky.jpeg" alt="Jetski">
                            <figcaption>
                                    Is an acuatic sport for max of two person peer vehicle, this adventure had a limited
                                    time of <time datetime="PT40M">40M</time>, you had a range where you can move freely.
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        Car Rent
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <figure>
                            <img src="../static/IMG/carRent.jpg" alt="Car Rent">
                            <figcaption>
                                It's an autoguided tour, a very interesting experience, you can exchange for <time
                                    datetime="PT4H">4H</time> minium to <time datetime="PT24H00M">24H 00M</time>.
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                        Scooter
                    </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <figure>
                            <img src="../static/IMG/scooterRent.jpg" alt="Scooter">
                            <figcaption>
                                It's an autoguided tour, from no more of two person peer vehicle, they can move arround
                                the
                                island with no complication, it usually rent by days up to <time datetime="1W">1W</time>
                                or
                                more.
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                        Parasailing
                    </button>
                </h2>
                <div id="flush-collapseFive" class="accordion-collapse collapse"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <figure>
                            <img src="../static/IMG/parasailingRent.jpg" alt="Parasailing">
                            <figcaption>
                                Extreme deport for lovers of highness, you had to try this ones, recomended for 2
                                person maxiaum, there'is a guide that give you this new adventure to enjoy.
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>-->


{% endblock %}