<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tourservice</title>
    <link rel="stylesheet" href="/static/CSS/style_sheet.css">
</head>

<body>

    <header>
        <div class="container" id="head">
            <img src="/static/IMG/Log.png" class="logo" id="logSai" alt="Logo Sai Tours">
            <p class="logo">SAI TOURS</p>
            <a href="#mainInfo">Home</a>
            <a href="#tourSection">Tours</a>
            <a href="#aboutSection">About</a>
            <a href="#contactSection">Contact</a>
        </div>
    </header>

    <br><br>

    <section id="mainInfo">
        <main class="center" id="mainInformation">
            <h2>
                Are you looking for a site to enjoy in peace and didn't know where!?
            </h2>
            <h1>
                You Did It!!
            </h1>
            <p>
                Welcome to your paradise <strong>San Andres island</strong>, where you can enjoy different
                activities like snorklin, dive, land exploring between other. You had no time to lose, see the
                information below and have a magnificient vacations on this seven colors sea and his cays around.
            </p>
        </main>
    </section>

    <section>
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/static/IMG/Wipri.jpg" class="d-block w-90" alt="Marta Raya">
                </div>
                <div class="carousel-item">
                    <img src="/static/IMG/diveSea.jpg" class="d-block w-90" alt="Buceo">
                </div>
                <div class="carousel-item">
                    <img src="/static/IMG/mangoose.jpg" class="d-block w-90" alt="Manglar">
                </div>
                <div class="carousel-item">
                    <img src="/static/IMG/morganCave.jpg" class="d-block w-90" alt="Manglar">
                </div>
                <div class="carousel-item">
                    <img src="/static/IMG/sailboat.jpg" class="d-block w-90" alt="Manglar">
                </div>
            </div>
        </div>
    </section>

    <br>

    <section id="tourSection">

        <hr>
        <p>
            They are many activities that you could choise to do during a period of time established:
        </p>
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Pontoon
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body"></div>
                    <figure>
                        <img src="/static/IMG/" alt="Pontoon">
                        <figcaption>The Pontoon it's a maritime activity guided by a quealified person, this activity
                            normally had a minium period of time of <time datetime="4H">4H</time> to <time
                                datetime="8H">8H</time></figcaption>
                    </figure>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        Jetski
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <figure>
                            <img src="/static/IMG/" alt="Jetski">
                            <figcaption>
                                Is an acuatic sport for max of two person peer vehicle, this adventure had a limited
                                time of
                                <time datetime="PT40M">40M</time>, you had a range where you can move freely.
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        Car Rent
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <figure>
                            <img src="/static/IMG/carRent.jpg" alt="Car Rent">
                            <figcaption>
                                It's an autoguided tour, a very interesting experience, you can exchange for <time
                                    datetime="PT4H">4H</time> minium to <time datetime="PT24H00M">24H 00M</time>.
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                        Scooter
                    </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <figure>
                            <img src="/static/IMG/scooterRent.jpg" alt="Scooter">
                            <figcaption>
                                It's an autoguided tour, from no more of two person peer vehicle, they can move arround
                                the
                                island with no complication, it usually rent by days up to <time datetime="1W">1W</time>
                                or
                                more.
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                        Parasailing
                    </button>
                </h2>
                <div id="flush-collapseFive" class="accordion-collapse collapse"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <figure>
                            <img src="/static/IMG/parasailingRent.jpg" alt="Parasailing">
                            <figcaption>
                                Extreme deport for lovers of highness, you had to try this ones, recomended for 2
                                person maxiaum, there'is a guide that give you this new adventure to enjoy.
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
    <section id="aboutSection">
        <div class="container">
            <p class="center">It is an enterprise of service with 5 Years on the island, providing to his
                different
                clients an unforgettable vacation, giving an excellent attendance and a respectable actitude. The
                enterprise is conformed at the moment by 3 operators, who avaliable to attend all entering message,
                put over the activities catalog and be guidance to their respective tour.</p>
        </div>
        <div class="container">
            <figure>
                <img src="/static/IMG/Logo_ppal.png" alt="Logo_Sai_Tours">
                <figcaption>
                    <p>
                    <h5><em><abbr title="San Andres Island Tour">Sai Tours</abbr></em></h5>
                    <q cite="https://www.weareteachers.com/beach-quotes/"> Beach life is sunshine and
                        smiles</q>, An emotional quote for inspire to enjoy this great oportunities.</p>
                </figcaption>
            </figure>
        </div>

    </section>

    <section id="contactSection">
        <br><br>
        <hr>
        <div class="row">
            <div class="col-sm-3 mb-3 mb-sm-0">
                <div class="card" style="width: 18  rem;">
                    <img src="/static/IMG/Forbes.jfif" class="card-img-top" alt="Reymond Forbes">
                    <div class="card-body">
                        <h5 class="card-title">Reymond Forbes</h5>
                        <p class="card-text">Staff <br> 312543228 <br> Rforbes@saitours.co</p>
                        <a href="#" class="btn btn-primary" onclick="alert('Contacting!')">Contact</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img src="/static/IMG/Hoofman.jfif" class="card-img-top" alt="Natacha Hoofman">
                    <div class="card-body">
                        <h5 class="card-title">Natacha Hoofman</h5>
                        <p class="card-text">Staff <br> 3132167278 <br> Nhoofman@saitours.co</p>
                        <a href="#" class="btn btn-primary" onclick="alert('Contacting!')">Contact</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img src="/static/IMG/Ward.jfif" class="card-img-top" alt="Becklina Ward">
                    <div class="card-body">
                        <h5 class="card-title">Becklina Ward</h5>
                        <p class="card-text">Manager <br> +57 323 654 744 <br> Bward@saitours.co</p>
                        <a href="#" class="btn btn-primary" onclick="alert('Contacting!')">Contact</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="formSection">
        <form id="formContact" method="get">
            <fieldset>
                <legend>Information</legend>

                <label for="clientFirstName">
                    First Name:
                    <input type="text" name="clientName" id="clientName" placeholder="First Name" required>
                </label>

                <label for="clientLastName">
                    Last Name:
                    <input type="text" name="clientLName" id="clientLName" placeholder="Last Name">
                </label>

                <label for="nacionality">
                    Nacionality:
                    <input type="text" name="clientNacionality" id="clientNacionality" placeholder="Colombian">
                </label>

                <label for="clientEmail">
                    Email:
                    <input type="email" name="clientEmail" id="clientEmail">
                </label>

                <label for="clientNumber">
                    Tel:
                    <input type="tel" name="cleintTellNumber" id="clientTellNumber" required>
                </label>

                <label for="services">
                    Tour Service
                    
                </label>

                <!--<label for="services">Tour Service
                    <select id="selectTours" size="2" multiple required>
                        <option value="Aquiarium">Aquiarium</option>
                        <option value="Cothoon Cay">Cothoon Cay</option>
                        <option value="Snooror Cay">Snooror Cay</option>
                        <option value="Haynes Cay">Haynes Cay</option>
                        <option value="Johnny Cay" selected>Johnny Cay</option>
                        <option value="Rocky Cay">Rocky Cay</option>
                        <option value="Crab Cay">Crab Cay</option>
                    </select>
                </label>-->

                <label for="selectDays">
                    Days
                    <input type="date" name="firstDay" id="firstDay" required>
                    /
                    <input type="date" name="lastDay" id="lastDay" required>
                </label>

                <label for="peopleAmount">
                    Host Amount
                    <input type="number" name="selectAmount" id="selectAmount">
                </label>

                <label for="selectUnderage">
                    Underage!?
                    <input type="checkbox" name="underage" id="underage">
                </label>

            </fieldset>

            <button type="submit">Submit</button>
        </form>
    </section>

    <footer>
        <div class="container">
            <p>&copy; D4rk'C0dd3r</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
        </script>

</body>

</html>